<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type"
        content="text/html; charset=UTF-8">
    <title><%=title %></title>
    <link type="text/css" href="style.css" rel="stylesheet">
</head>
<body>
    <head>
        <h1><%=title %></h1>
    </head>
    <main>
        <p><%=content %></p>
        <form method="post" action="/other">
            <p>
                <input type="text" name="msg">
                <input type="submit" value="Click">
            </p>
        </form>
        <p>
            <table style="width: 400px;">
                <tr><th>伝言です</th></tr>
                <tr><td><%=data.msg2 %></td></tr>
            </table>
        </p>
        <p>your last message:<%=cookie_data %></p>
        <form method="post" action="/">
        <p>
            MESSAGE <input type="text" name="msg2">
            <input type="submit" value="送信">
        </p>
    </main>
</body>
</html>